*{
    font-size:18px;
    box-sizing: border-box;

}
h1{
    font-size: 26px;
}
.wrap{
    display: flex;
    background-color: #F8F8F8FF;
    border-radius: 20px;
    color: #3e3a56;
}
.wrap a{color: #3e3a56;}
.wrapdarked{
    display: flex;
    background-color: #324077;
    border-radius: 20px;
    color: white;
}
.wrapdarked a{
    color: #fff;
}
.wrapdarked option{
    background-color: #324077;
}
.header{
    width: 15%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #324077;
    border-radius: 20px 0 0 20px;
    padding-top:10px;
}
.main{
    width: 85%;
    padding: 15px;
}

option:checked {
    background-color: #324077;
    color: white;

}
select{
    font-size: 16px;
    border: none;
background-color:unset;

    opacity: 1;
    font-weight: bold;
    color: #3e3a56;
}
.wrapdarked select{
    color:#fff;
}
.container{
    margin: 0 auto;
    padding: 20px;
    background-color:#F8F8F8FF ;
}


button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255,0.3);
    color: #fff;
}
a[class="active"] button {
    background-color: rgba(255, 255, 255, 0.1);
}
a:hover button{
    background-color: rgba(255, 255, 255, 0.1);
}