.header{
  height: 60px;
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}
.wrap{
   display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}
button {
  width: 100px;
}
.column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}