*{
    box-sizing: border-box;
    font-size: 20px;
}
body {
    margin: 0;
    padding: 0;
}

button {
    width: 200px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-weight: bold;
}
h2{
    font-size: 30px;
}


